body {
    margin: 0;
    font-family: "Lato";
}

.container {
    max-width: 1020px;
    margin: auto;
}

.page-header {
    width: 1020px;
    padding: 0;
    margin: 0;
}

.header-container {
    height: 89px;
    padding: 0;
    margin: 0;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.logo {
    display: inline-block;
    width: 122px;
    height: 29px;
    margin: 0;
    padding: 43px 0 0 40px;
    font-size: 25px;
    letter-spacing: -0.5px;
    line-height: 0px;
    color: #ffffff;
    font-weight: 700;
    text-align: left;
}

.logo-text {
    margin: 0;
    padding: 0;
    display: inline;
    font-size: inherit;
}

.logo-star {
    margin: 1px 0px 0px -4px;
    font-size: inherit;
    color: #F06C64;
}

.header-navigation {
    display: inline-block;
    float: right;
    width: 371px;
    margin: 0;
    padding: 50px 40px 0px 0px;
    color: gray;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 0px;
    letter-spacing: -0.5px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 700;
}

.header-navigation ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.first_nav_item {
    color: #f06c64;
    list-style-type: none;
}

.nav_item {
    margin: 0;
    padding-left: 0;
    list-style-position: inside;
}

.slider {
    height: 594px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.our-services {
    height: 497px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
    margin: 0;
    padding: 42px 40px 40px 40px;
}

.our-services p {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
}

.our-services h2 {
    font-size: 30px;
    line-height: 20px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    letter-spacing: -0.2px;
    text-align: left;
}

.img-container {
    margin: 0;
    padding: 0;
    width: 55px;
    height: 55px;
}

.column-container {
    margin-top: 48px;
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 150px;
    grid-template-areas: "one two three" "four five six"
}

.item {
    position: absolute;
    height: 150px;
    margin: 0;
    padding: 0;
}

.item_text {
    display: inline-block;
    position: relative;
    top: 0%;
    overflow: hidden;
    margin: 0px 0px 0px 80px;
}

.item_text h3 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.item_text p {
    /*width: 219px;
    height: 128px;*/
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

.item-1 {
    grid-area: one;
}

.item-2 {
    grid-area: two;
}

.item-3 {
    grid-area: three;
}

.item-4 {
    grid-area: four;
}

.item-5 {
    grid-area: five;
}

.item-6 {
    grid-area: six;
}